body {
  background: #000;
  height: 100vh;
  font: 400 16px "Varela Round", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border: 0;
  padding: 0 30px;
  width: 120px;
  height: 120px;
  border-radius: 2px;
  outline: none;
  box-shadow: 0 10px 30px rgba(65, 72, 86, 0.1);
  transition: transform 0.1s linear, color 0.1s linear, background 0.15s linear;
  cursor: pointer;
  background-color: #fff;
  border-radius: 50%;
  bottom: 10%;
  right: 10%;
}

.button > img {
  transform: rotate(180deg);
}

.button::after {
  content: "";
  position: absolute;
  background-image: url(../img/arrow-down_icon-icons.com_72377.svg);
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 50%;
  transform: translate(0%, -50%);
  transform: rotate(180deg);
}

body .button {
  margin: 0 10px;
}
